
@{
    ViewBag.Title = "About";
}

<!-- Titlebar
================================================== -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>About Us</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">Home </a></li>
                    <li>About Us</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<!-- Content
================================================== -->
<!-- Container -->
<div class="container">
    <div class="sixteen columns">
        <h3 class="headline">Our History</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
    </div>
    <!-- Who We Are? -->
    <div >
        <p>Automated control price is project to control price and provide E-complain facility for Users </p>
        <p>We are the Student of University of sargodha lahore </p>
  
    </div>
    <!-- Our Skills -->
    
</div>
<!-- Container / End -->
<br>
<!-- Container -->
<div class="container">
    <div class="four columns">
        <div class="counter-box colored">
            <i class="fa fa-thumbs-o-up"></i>
            <span class="counter">@ViewBag.TotalUser</span>
            <p>Happy Customers</p>
        </div>
    </div>

    <div class="four columns">
        <div class="counter-box">
            <i class="fa fa-group"></i>
            <span class="counter">@ViewBag.TotalCategories</span>
            <p>Available Categories</p>
        </div>
    </div>
    <div class="four columns">
        <div class="counter-box">
            <i class="fa  fa-shopping-cart"></i>
            <span class="counter">@ViewBag.TotalShops</span>
            <p>Available Shops</p>
        </div>
    </div>
    <div class="four columns">
        <div class="counter-box">
            <i class="fa  fa-tree"></i>
            <span class="counter">@ViewBag.TotalOrders</span>
            <p>Orders</p>
        </div>
    </div>
</div>
<!-- Container / End -->
<br>

<div class="margin-top-50"></div>

